- var sectionTitle = data.connect.sectionTitle
include ../section-title/section-title

.column(span="row")
  .connect__avatar
.column(span="row" height="10")

each social, key in data.connect.socialList
  input.connect__radio(
    type="radio"
    name="connect__label"
    id=`connect__label--${key}`
    )

  .column(span="1")
    label(for=`connect__label--${key}`).connect__disc
      i(class=`icon__${social.icon}`)

each social, key in data.connect.socialList
  .column(span="row" data-info-box=key+1)
    .info-box__with-arrow
      .info-box__header
        .info-box__title=social.title
        .info-box__close
          input.connect__radio(
            type="radio"
            name="connect__label"
            id=`connect__label--reset`
          )

          label(for=`connect__label--reset`).connect__disc
            i(class=`icon__cross`)
      .info-box__body
        p.info-box__paragraph=social.description

      .info-box__footer
        a(
          href=social.link
          target="_blank"
        ).button__pill--green
          i.icon__link
          span.text-button=social.label
.column(span="row" height="10")
.column(span="row")
  button.button__disc--blue 
    i.icon__arrow-down 
.column(span="row" height="10")

