- var sectionTitle = data['open-source'].sectionTitle
include ../section-title/section-title 

//- pre=JSON.stringify(data[`open-source`], null, 2)
.column(span="row")
    .open__stats=data[`open-source`].stats.title
.column(span="row")
    ul.open__list 
      each item in data[`open-source`].stats.statsList
        li.open__item
          span.open__icon
            i(class=`icon__${item.icon}`)
          .open__stats-description 
            each info in item.description 
             p=info

.column(span="row")
  .open__project=data[`open-source`].projects.projectName
    each project in data[`open-source`].projects.project  
      div= project.projectName
      ul 
        each haha in project.skillsGained
          li= haha.skillName 
          li= haha.precentage 
          li= haha.color 

