- var sectionTitle = data['open-source'].sectionTitle
include ../section-title/section-title 

//- pre=JSON.stringify(data[`open-source`], null, 2)
.column(span="row")
    .open__stats=data[`open-source`].stats.title
.column(span="row")
    ul.open__list 
      each item in data[`open-source`].stats.statsList
        li.open__item
          span.open__icon
            i(class=`icon__${item.icon}`)
          .open__stats-description 
            each info in item.description 
             p=info

.column(span="row")
  .open__project=data[`open-source`].projects.projectName
  each project, key in data[`open-source`].projects.project  
      input(
        type="checkbox"
        id=`project_checkbox--${key}`
          ).open__checkbox
      .project__item
        .project__name=project.projectName
        .open__skill-list
          each skill in project.skillsGained 
            span.skill__name=skill.skillName + " "
        .project__percentage 
          each item in project.skillsGained 
            span(
              class=`coloana-${item.skillName}`
              style=`width: ${item.precentage}%`
            )
        ul.open__body
          li 
            .open_dots 
              each item in project.skillsGained 
                .open_dot 
                  .open__dot-color(style=`background-color: ${item.color}`)
                  .open__dot-name=`${item.skillName} ${item.precentage}%`
          li.open__data 
            each projectStat in project.projectStats 
              .open__stat
                .open__stat-icon 
                  i(class=`icon__${projectStat.projectStatIcon}`) 
                .open_stat-info=projectStat.projectStatInfo 
          li.open__project-description=project.projectInfo 
          li.open__project-link 
            a(
              href=project.projectLink.link 
              target="_blank"
            ).open__blue 
              i(class=`icon_${project.projectLink.icon}`)
              span.button-continut=project.projectLink.description
      .open__buttons 
        .open 
          label(for=`open__checkbox--${key}`).open__info-essential
            i.icon__info 
        .close 
          label(for=`open__checkbox--${key}`).open__info-essential
            i.icon__cross 
        each  extraIcon in project.projectIcon.extraIcon 
          a.open__info-extra(href=`${extraIcon.link}` target="_blank")
            i(class=`icon__${extraIcon.icon}`)
        
        
      

